@page
@model Ecommerce.Pages.Items.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.myCart[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.myCart[0].Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.myCart[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.myCart[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.myCart[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.myCart) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Cart" asp-route-id="-@item.Id">-</a>@(" ")
                @Html.DisplayFor(modelItem => item.Quantity) @(" ")
                <a asp-page="./Cart" asp-route-id="@item.Id">+</a> 
            </td>
        </tr>
}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Order Total:</b></td>
            <td><b>$@Model.total</b></td>
        </tr>
    </tbody>
</table>

<form method="post">
        <input type="submit" value="Checkout" class="btn btn-primary" asp-page="/Checkout"> |
        <a asp-page="./Index">Continue Shopping</a>
    </form>
<div>
    
    
</div>