@page
@model Ecommerce.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>
        <dd class="col-sm-10">
            <img class="img-fluid" src="~/images/@Model.Item.Picture" width="250" height="250" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Picture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Price)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> @("|")
    }
    @if (User.IsInRole("User"))
    {
        <a asp-page="./Cart" asp-route-id="@Model.Item.Id">Add to Cart</a> @("|")
    }
    <a asp-page="./Index">Back to List</a>
</div>
